*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: bigNoodleTitling;
    src: url(/MODULO-2/Generador\ de\ \ memes/bigNoodleTitling.ttf);
   
}
@font-face {
     font-family: bigNoodleTitling,Oblique;
     src: url(/MODULO-2/Generador\ de\ \ memes/bigNoodleTitlingOblique.ttf);

}
:root {
    --Tituloh1: bigNoodleTitling;
    --Tituloh2h3: bigNoodleTitling,Oblique;
}
body{
    height: 100vh;
} 
.background-page{
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header{
    background: #98B1FC;
    background: -webkit-radial-gradient(bottom, #98B1FC, #38228F);
    background: -moz-radial-gradient(bottom, #98B1FC, #38228F);
    background: radial-gradient(to top, #98B1FC, #38228F);
    height: auto;
    width: 85%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     opacity: 0.7;
     transition: all 0.4s;
}
.container-botonera{
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(33, 33, 73);
    opacity: 0.9;
    margin-top: 1%;
    transition: all 0.4s;
}

.title-memes {
    font-family: var(--Tituloh1);
    font-size: 3rem;
    color: white;
    text-shadow: 5px 0px 0px rgb(49, 47, 47);
    opacity: none;
}


.botonera{
    height: auto;
    width: auto;
    display: flex;
    color: rgb(51, 190, 190);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    position: relative;
    font-family: var(--Tituloh2h3);
    font-size: 1.5rem;
    padding: 3% 0;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.4s;
}

.botonera, .botonera::after, .botonera::before {
    transition: all .5s;
}

.botonera:hover {
    color:cyan;
}

.botonera:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background:  cyan;
    box-shadow: 0 0 5px rgb(145, 243, 243), 0 0 5px rgb(145, 243, 243);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .botonera:hover:after { 
    width: 100%; 
    left: 0; 
  }


  .text-boton{
      margin: 0 15%;
  }

  .check-botonera{
     display: none; 
  }
                                                      /*Fin botonera*/

.main-container-memes{
    height: auto;
    width: 85%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
    position: absolute;
    transition: all 0.4s;
}

.box-meme{
    height: 60vh;
    width: 50%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgb(33, 33, 73);
    transition: all 0.4s;
}

.box-texto-meme {
    height: 10vh;
    width: 100%;
    padding: 3%;
    font-size: 3rem;
    font-family: var(--Tituloh2h3);
    color: white; 
    text-shadow: 5px 0px 0px rgb(49, 47, 47);
    background-color: rgb(33, 33, 73);
    opacity: 0.9;
    transition: all 0.4s;
}

 .contain-box-meme{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: all 0.4s;
} 
.box-img-meme{
     height: 40vh; 
     width: 100%;
     display: flex;
     background-position: center;
     background-repeat: no-repeat; 
     background-size: cover; 
}


.box-boton-decarga{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.descarga-meme{
    height: auto;
    width: auto;
    display: flex;
    padding: 1% 2%;
    background-color:  rgb(139, 139, 139);
    margin: 2% 0;
    color: white;
    letter-spacing: 0.15em;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-style: none;
    font-size: 1.2rem;
    font-family: var(--Tituloh2h3);
    border-bottom-style: none;
    border: none;
   
}
.descarga-meme, .descarga-meme::after, .descarga-meme::before{
    transition: all .5s;
}
.descarga-meme:hover, .icono-descarga-meme:hover{
    color: rgb(139, 139, 139);
    background-color: white;
    box-shadow: 0 0 6px rgb(114, 112, 112), 0 0 10px rgb(197, 195, 195);
}


                                                               /*Fin container meme*/


                                                               /*OPCIONES DE IMAGEN*/


.input-side-bar{
     display: none; 
}
.closed{
     display: none; 
}

.container-img-text{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    background: #f8f7fb;
    opacity: 0.6;
    transition: all 0.4s;
}

h2{
    font-size: 2rem;
    font-family: var(--Tituloh2h3);
    color: black;
    transition: all 0.4s;
}


h3{
    font-size: 1.5rem;
    font-family: var(--Tituloh2h3);
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 1%;
    transition: all 0.4s;
}

.url-img-options{
    width: 100%;
    height: 3vh;
    display: flex;
    background-color: rgb(33, 33, 73);
    opacity: 0.9;  
    color: white;
    font-family: var(--Tituloh2h3);
    font-size: 1rem;
    outline: none;
    transition: all 0.4s;
}

.box-img-options, .box-text-options{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 0;
    transition: all 0.4s;
    
}
.box-text-options {
    display: none;
}

.box-url-img-options, .box-fondo-tonalidades-img-options{
    display: flex;
    flex-direction: column; 
    width: 90%;
    height: auto;
    padding: 2%;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    transition: all 0.4s;
}

.box-superior-text-options, .box-inferior-text-options, .box-fuente-text-options, .box-color-fondo-text-options, .box-contorno-text-options, .box-espaciado-text-options, .box-interlineado-text-options{
    display: flex;
    flex-direction: column;
     background-color: rgb(33, 33, 73); 
    width: 90%;
    height: auto;
    padding: 2%;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    transition: all 0.4s; 
}

.color-fondo-buttons-img-options{
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: all 0.4s; 
    /* background-color: rgb(219, 22, 22); */
}

.button-fondo-paleta-colores-img-options, .button-tonalidades-color-img-options{
    background-color: rgb(33, 33, 73);
    opacity: 0.9;
    margin-right: 2%;
    width: 50%;
    transition: all 0.4s; 
}

.button-fondo-paleta-colores-img-options{
    display: flex;
    position: relative;   
    height: 4vh;
    transition: all 0.4s;
}

.color-fondo-img{
    position: relative;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: transparent;
    margin-top: 5px;
    margin-left: 2%;
    border: 0;
    transition: all 0.4s;
}

.black-color-img-fondo{
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 1.3rem;
    margin-left: 2%;
    font-family: var(--Tituloh2h3);
    color: white;
    transition: all 0.4s;
}

.color-img-options{
    height: 4vh;
    width: 100%;
    background-color: rgb(33, 33, 73);
    opacity: 0.9;
    color: white;
    font-family: var(--Tituloh2h3);
    font-size: 1.5rem;
    transition: all 0.4s;
}

.box-filtros-img-options{
     display: flex;
    flex-direction: column;
    /* background-color: violet; */
    width: 90%;
    height: auto;
    padding: 2%;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
    transition: all 0.4s;
}

.box-filtros{
   display: flex;
    height: auto;
    width: 100%;
    background-color: rgb(33, 33, 73);
    opacity: 0.9;
    flex-direction: column;
    margin: 3.5% 0;
    padding: 1% 0;
    transition: all 0.4s; 
}

.label-filtros-img{
    font-size: 1.5rem;
    font-family: var(--Tituloh2h3);
    width: 100%;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 1%;
    color: white;
    margin-left: 2%;
    transition: all 0.4s; 
}

.input-filtros-img{
    width: 96%;
    height: 0.8vh;
    background-color: cyan; 
    -webkit-appearance: none;
    border-radius: 10px;
    margin: 3% 0;
    margin-left: 2%;
    transition: all 0.4s; 
    /* color:rgb(0, 155, 52); */
}
.input-filtros-img::-webkit-slider-thumb {
    background-color: white;
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    transition: all 0.4s; 
}

.restablecer-filtros-img-options{
    height: auto;
    width: 60%;
    display: flex;
    padding: 4%;
    background-color: rgb(71, 71, 71);
    color: white;
    letter-spacing: 0.15em;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-style: none;
    font-size: 1rem;
    font-family: var(--Tituloh2h3);
    
}
.restablecer-filtros-img-options, .restablecer-filtros-img-options::after, .restablecer-filtros-img-options::before{
    transition: all .5s;
}
.restablecer-filtros-img-options:hover, .restablecer-filtros-img-options:hover{
    color:  rgb(71, 71, 71);
    background-color: white;
    box-shadow: 0 0 6px rgb(114, 112, 112), 0 0 10px rgb(197, 195, 195);
}
                                                                        /*Fin opciones de imagen*/


                                                                        /*OPCIONES DE TEXTO*/





.top-text-options, .bottom-text-options, .button-impact-text-options{
    width: 100%;
    height: auto;
    padding: 3%;
    font-size: 1.2rem;
    font-family: var(--Tituloh2h3);
    transition: all 0.4s; 
    appearance: none;
}

.box-fuente-text-options, .box-color-fondo-text-options, .box-contorno-text-options{
    height: 12vh;
}

.no-superior-text-options, .no-bottom-text-options{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 4%;
    align-items: center;
    transition: all 0.4s; 
}

.input-sin-texto-sup, .input-sin-texto-i {
    margin-right: 2%;
    width: 20px;
    height: 20px;
    color: rgb(71, 71, 71);
    transition: all 0.4s; 
}

.label-sin-texto-s, .label-sin-texto-i{
    font-family: var(--Tituloh2h3);
    font-size: 1.2rem;
    color: white;
    transition: all 0.4s; 
}

.box-tamaño-centrado-text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    transition: all 0.4s; 
}

.box-tamaño-text-option{
    width: 50%;
    height: auto;
    display: flex;
    align-items: flex-start; 
    transition: all 0.4s;   
}


.input-tamaño-fuente{
    padding: 4%;
    width: 90%;
    text-align: center;
    font-family: var(--Tituloh2h3);
    font-size: 1.2rem;
    border-style: none;
    transition: all 0.4s; 
    appearance: none;
}

.box-centrado-text-options{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s; 
}

.button-left-text-options, .button-center-text-options, .button-right-text-options{  
    padding: 4%;
    width: 30%;
    border-style: none;
    background-color: rgb(71, 71, 71);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.button-left-text-options, .button-center-text-options, .button-right-text-options, .button-left-text-options::after, .button-center-text-options::after, .button-right-text-options::after, .button-left-text-options::before, .button-center-text-options::before, .button-right-text-options::before {
    transition: all .5s;
}

.button-left-text-options:hover, .button-center-text-options:hover, .button-right-text-options:hover{
    color:  rgb(71, 71, 71);
    background-color: white;
}


.button-center-text-options{
    margin: 0 4%;
}

.buttons-color-fondo-text-options{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
    transition: all 0.4s; 
}

.box-button-color-text-options, .box-button-fondo-text-options{
    width: 48%;
    height: auto;
    transition: all 0.4s; 
}

.button-color-text-options, .button-fondo-text-options{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: flex;
    align-items: flex-start;
    text-align: center;
    background-color: rgb(33, 33, 73);
    /* border-style: none; */
    cursor: pointer;
    transition: all 0.4s; 
}

.input-color-texto, .input-color-fondo-texto {
    position: relative;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: transparent;
    margin-left: 2%;
    border: 0;
    transition: all 0.4s; 

}

.color-text-options, .fondo-text-options{
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 1.3rem;
    margin-left: 2%;
    font-family: var(--Tituloh2h3);
    color: white;
    transition: all 0.4s; 
}

.box-transparent-text-options{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.input-transparent-text{
    margin-right: 2%;
    width: 20px;
    height: 20px;
}
.label-transparent-text{
    font-size: 1.2rem;
    font-family: var(--Tituloh2h3);
    color: white;
    transition: all 0.4s; 
}

.buttons-ninguno-claro-oscuro-text-options{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-ninguno-text-options, .button-claro-text-options, .button-oscuro-text-options{
    width: 30%;
    height: auto;
    padding: 4%;
    font-family: var(--Tituloh2h3);
    font-size: 1.2rem;
    background-color: rgb(71, 71, 71);
    color: white;
    border-style: none;
    cursor: pointer;
    outline: none;
    border: none;
   
}

.button-ninguno-text-options, .button-claro-text-options, .button-oscuro-text-options, .button-ninguno-text-options::after, .button-claro-text-options::after, .button-oscuro-text-options::after, .button-ninguno-text-options::before, .button-claro-text-options::before, .button-oscuro-text-options::before{
    transition: all .5s;
}

.button-ninguno-text-options:hover, .button-claro-text-options:hover, .button-oscuro-text-options:hover{
    color:  rgb(71, 71, 71);
    background-color: white;
}

.input-espaciado-number-text-options, .interlineado-text-options{
    width: 100%;
    height: auto;
    padding: 3%;
    font-size: 1.2rem;
    font-family: var(--Tituloh2h3);
    appearance: none;
    border-style: none;
}

.title-superior-text-options, .title-inferior-text-options, .tittle-color-text-options, .tittle-fono-text-options, .tittle-contorno-text-options, .tittle-espaciado-text-options, .tittle-interlineado-text-options{
    color: white;
}

.box-titulo-fuente{
    margin: 3% 0;
}

.tittle-fuente-text-option {
    background-color: white;
    width: 100%;
    margin-bottom: 3%;
    transition: all 0.4s; 
}

                                      /*Final opciones de texto*/


                                      /*INICIO MODO-OSCURO*/

:root {
    --textoPrincipal: #ffffff;
    --textoSecundario: #ffffff;
    --textoTerciario: #ffffff;
    --menuBackgroundColor:  rgb(71, 71, 71);
    --panelBackgroundColor:#272323;
    --boxOpciones: cyan;  
} 

/*container-botonera*/

.header-dark{
    background-color: transparent;
    height: auto;
    width: 85%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     opacity: 0.9;
}
.container-img-text-dark{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    background: var(--panelBackgroundColor);
    opacity: 0.9;
    transition: all 0.4s;
}
.box-filtros-dark{
    display: flex;
    height: auto;
    width: 100%;
    background-color: var(--boxOpciones);
    /* opacity: 0.9; */
    flex-direction: column;
    margin: 3.5% 0;
    padding: 1% 0;
    transition: all 0.4s;
}

 .box-filtros-dark:hover{
    box-shadow: 0 0 5px rgb(145, 243, 243), 0 0 8px rgb(145, 243, 243);
} 

.container-botonera-dark{
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--panelBackgroundColor);
    /* opacity: 0.9; */
    margin-top: 1%;
}

                                   /*FIN MODO OSCURO*/








 